:root {
  /* Branding Colors */
  --brand-zaffre: 13, 25, 163;
  --brand-emerald: 21, 219, 149;
  --brand-dutch-white: 244, 228, 193;
  --brand-ecru: 228, 197, 129;

  /* Starlight Overrides - Accents based on Zaffre */
  --sl-color-accent-low: hsl(235, 85%, 20%);
  --sl-color-accent: rgb(var(--brand-zaffre));
  --sl-color-accent-high: hsl(235, 85%, 80%);

  /* Secondary Accents based on Emerald */
  --sl-color-secondary-low: hsl(159, 83%, 20%);
  --sl-color-secondary: rgb(var(--brand-emerald));
  --sl-color-secondary-high: hsl(159, 83%, 80%);
}

:root[data-theme="light"] {
  --sl-color-bg: rgb(var(--brand-dutch-white));
  --sl-color-text: #000022; /* oxford-blueish */
}

/* Custom Fonts */
@font-face {
  font-family: "Inter Custom";
  src: url("../assets/fonts/inter-v.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bangers Custom";
  src: url("../assets/fonts/bangers-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro Custom";
  src: url("../assets/fonts/sourcecodepro-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --sl-font-body: "Inter Custom", sans-serif;
  --sl-font-mono: "Source Code Pro Custom", monospace;
}

h1, h2, h3, h4, h5, h6 {
  --sl-font-heading: "Bangers Custom", cursive;
  letter-spacing: 0.05em;
}
