/*
 * SPDX-FileCopyrightText: 2026 PlainLicense
 *
 * SPDX-License-Identifier: LicenseRef-PlainMIT OR MIT
 */

:root {

  /* Dark mode colors. */
  :root {
    --sl-color-accent-low: #002c1a;
    --sl-color-accent: #007e53;
    --sl-color-accent-high: #93dbb6;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #eaeef6;
    --sl-color-gray-2: #c4c8d3;
    --sl-color-gray-3: #9ba4b8;
    --sl-color-gray-4: #50586a;
    --sl-color-gray-5: #313849;
    --sl-color-gray-6: #202636;
    --sl-color-black: #151820;
  }

  /* Light mode colors. */
  :root[data-theme='light'] {
    --sl-color-accent-low: #b0e5c9;
    --sl-color-accent: #005436;
    --sl-color-accent-high: #003d26;
    --sl-color-white: #151820;
    --sl-color-gray-1: #202636;
    --sl-color-gray-2: #313849;
    --sl-color-gray-3: #50586a;
    --sl-color-gray-4: #838b9f;
    --sl-color-gray-5: #bdc2cd;
    --sl-color-gray-6: #eaeef6;
    --sl-color-gray-7: #f4f6fb;
    --sl-color-black: #ffffff;
  }
}

/* Custom Fonts */
@font-face {
  font-family: "Inter Custom";
  src: url("../assets/fonts/inter-v.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bangers Custom";
  src: url("../assets/fonts/bangers-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro Custom";
  src: url("../assets/fonts/sourcecodepro-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --sl-font-body: "Inter Custom", sans-serif;
  --sl-font-mono: "Source Code Pro Custom", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --sl-font-heading: "Bangers Custom", cursive;
  letter-spacing: 0.05em;
}